/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background: transparent
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }
    a,
    a:visited {
		color: green;
		text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""

    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    @page {
        margin: 0.5cm
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
    color: green;
    text-rendering: optimizeLegibility
}

h1 {
    font-size: 60px;
    font-size: 3.33333rem;
    margin-bottom: 0.495em
}

@media (max-width: 550px) {
    h1 {
        font-size: 50px
    }
}

h2 {
    font-size: 48px;
    font-size: 2.6667rem;
    margin-bottom: 0.61875em
}

@media (max-width: 550px) {
    h2 {
        font-size: 43px
    }
}

h3 {
    font-size: 36px;
    font-size: 2rem;
    margin-bottom: 0.825em
}

@media (max-width: 550px) {
    h3 {
        font-size: 28px
    }
}

h4 {
    font-size: 24px;
    font-size: 1.3333333333333333rem;
    margin-bottom: 1.2375em
}

@media (max-width: 550px) {
    h4 {
        font-size: 22px
    }
}

h5 {
    font-size: 21px;
    font-size: 1.16667rem;
    margin-bottom: 1.4142857142857141em
}

@media (max-width: 550px) {
    h5 {
        font-size: 19px
    }
}

h6 {
    font-size: 18px;
    font-size: 1rem;
    margin-bottom: 1.65em
}

@media (max-width: 550px) {
    h6 {
        font-size: 15px
    }
}

p {
    margin: auto auto 1.5em
}

a {
    color: green;
    text-decoration: none;
    line-height: inherit;
    outline: 0;
    -webkit-transition: color .1s ease-out;
    -webkit-transition-property: color;
    -webkit-transition-duration: .1s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-delay: initial;
    -moz-transition: color .1s ease-out;
    -o-transition: color .1s ease-out;
    -ms-transition: color .1s ease-out;
    transition: color .1s ease-out;
    transition-property: color;
    transition-duration: .1s;
    transition-timing-function: ease-out;
    transition-delay: initial
}

a:hover {
    color: blue
}

p a,
p a:visited {
	color: green;
    line-height: inherit
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 1.5em;
    list-style-position: inside
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin-bottom: 0
}

dt {
    font-weight: bold
}

dd {
    margin-left: 0
}

em,
i {
    font-style: italic;
    line-height: inherit
}

strong,
b {
    line-height: inherit
}

small,
.small {
    font-size: 75%;
    font-weight: normal;
    line-height: 1
}

u,
ins {
    text-decoration: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

blockquote {
    max-width: 100%;
    border-left: 5px solid #e6e6e6;
    margin: 1.5em 0
}

blockquote,
q {
    quotes: none;
    font-size: 125%
}

blockquote>p {
    padding: 15px
}

cite {
    font-style: normal
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.65;
    font-weight: normal;
    overflow-y: scroll;
    min-height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

@media (max-width: 550px) {
    html {
        font-size: 15px
    }
}

body {
    background-color: #fff !important;
    padding: 0;
    color: #333;
    min-height: 100%;
    width: 100%;
    *zoom: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word
}

body:before,
body:after {
    content: "";
    display: table
}

body:after {
    clear: both
}

@media (max-width: 550px) {
    body {
        font-size: 15px
    }
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto
}

.nav {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    *zoom: 1
}

.nav:before,
.nav:after {
    content: "";
    display: table
}

.nav:after {
    clear: both
}

.nav>li,
.nav>li>a {
    display: inline-block;
    *display: inline;
    zoom: 1
}

img,
embed,
object,
video {
    display: block;
    max-width: 100%;
    height: auto
}

img {
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    font-style: italic
}

a img {
    border: 0
}

img[width],
img[height] {
    max-width: none
}

figure>img {
    display: block
}

audio,
canvas,
img,
video {
    vertical-align: middle
}

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    margin: 0;
    background-image: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: inherit;
    line-height: 1.65;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 15px 20px
}

.btn:hover,
.btn:focus,
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
    background-color: #3d8c38;
    border: 1px solid transparent;
    color: #fff;
    text-decoration: none;
    border-bottom: none
}

.btn:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    outline: none;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15)
}

.btn::-moz-focus-inner {
    border: 0;
    padding: 0
}

.btn-primary {
    background-color: #4db146;
    border-bottom: #3d8c38
}

.btn-secondary {
    border: solid 1px #b3b3b3;
    color: #333
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #e6e6e6;
    color: #333;
    border: solid 1px #b3b3b3
}

select,
input,
textarea {
    color: #333
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

legend {
    display: block;
    width: 100%;
    font-size: 150%;
    line-height: inherit;
    white-space: normal
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold
}

textarea {
    height: auto;
    resize: vertical
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px
}

input[type="file"] {
    display: block;
    width: 100%
}

select[multiple],
select[size] {
    height: auto
}

select optgroup {
    font-size: inherit;
    font-style: inherit;
    font-family: inherit
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    height: auto
}

output {
    display: block;
    vertical-align: middle
}

input,
button,
select,
label {
    vertical-align: middle
}

input,
button,
select,
textarea {
    line-height: inherit;
    -webkit-font-smoothing: antialiased
}

input:focus,
textarea:focus {
    outline: 0
}

input,
textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: inherit;
    font-family: inherit;
    text-indent: 15px;
    vertical-align: middle;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition-property: border-color, box-shadow;
    -webkit-transition-duration: 0.15s, 0.15s;
    -webkit-transition-timing-function: ease-in-out, ease-in-out;
    -webkit-transition-delay: initial, initial;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: initial, initial
}

input textarea,
textarea textarea {
    height: auto
}

input:focus,
textarea:focus {
    border-color: #4db146;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

code,
kbd,
pre,
samp {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace
}

code {
    padding: 2px 4px;
    max-width: 100%;
    font-size: 90%;
    color: inherit;
    background-color: transparent;
    white-space: nowrap;
    border-radius: 5px
}

pre {
    display: block;
    padding: 10px;
    margin: 2.5em 0;
    max-width: 100%;
    font-size: 75%;
    line-height: 1.65;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #e6e6e6;
    border: 1px solid #b3b3b3;
    border-radius: 5px
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    word-wrap: normal;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}

.pre-scrollable {
    max-height: 350px;
    overflow-y: scroll
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 50px 0;
    padding: 0
}

::-moz-selection {
    background: #666;
    color: white;
    text-shadow: none
}

::selection {
    background: #666;
    color: white;
    text-shadow: none
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #333;
    padding: 0.2em 0
}

#site-header {
    text-align: center;
    min-height: 15em;
    padding-top: 7em;
    margin-bottom: 9em
}

@media (max-width: 800px) {
    #site-header {
        padding-top: 4em !important;
        margin-bottom: 4em !important
    }
}

.blog-title {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 75px
}

.blog-description {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #b3b3b3;
    font-size: 80%
}

#blog-logo img {
    margin: 0 auto 3em auto
}

article {
    margin-bottom: 9em
}

article.li {
    margin-bottom: 2em;
}

@media (max-width: 800px) {
    article {
        margin-bottom: 7em !important
    }
    article.li {
        margin-bottom: 2em !important;
    }
}

.post-header {
    text-align: center
}

.post-title {
    margin-bottom: 30px
}

.post-time {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 30px;
    font-size: 80%
}

.post-footer {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 80%;
    margin-top: 30px
}

.pagination {
    text-align: center;
    margin: 4em 0 9em 0;
    color: #b3b3b3
}

@media (max-width: 800px) {
    .pagination {
        margin: 4em 0 6em 0 !important
    }
}

.post-content a,
#site-footer a {
    color: #333;
    text-decoration: none;
    font-weight: bold
}

.post-content a:hover,
#site-footer a:hover {
    color: #e6e6e6;
    border-bottom: 1px solid
}

.m-logo {
    display: none !important;
    visibility: hidden
}

.p-post-title {
    margin-bottom: 50px
}

.f-1 {
    *zoom: 1
}

.f-1:before,
.f-1:after {
    content: "";
    display: table
}

.f-1:after {
    clear: both
}

.author {
    float: left
}

@media (max-width: 550px) {
    .author {
        float: none !important
    }
}

@media (max-width: 550px) {
    .author {
        float: none !important
    }
    .f-post-time {
        float: inherit !important
    }
}

.f-post-time {
    float: right
}

@media (max-width: 550px) {
    .f-post-time {
        float: none !important
    }
}

.f-2 {
    *zoom: 1
}

.f-2:before,
.f-2:after {
    content: "";
    display: table
}

.f-2:after {
    clear: both
}

.f-post-tags {
    float: right
}

@media (max-width: 550px) {
    .f-post-tags {
        float: none !important
    }
}

.share {
    float: left
}

@media (max-width: 550px) {
    .share {
        float: none !important;
        margin-bottom: 1.5em
    }
}

#comments {
    margin-top: 30px
}

@media (max-width: 550px) {
    #comments {
        margin-top: 1em
    }
}

.m-page a {
    color: #333 !important
}

#site-footer {
    text-align: center;
    height: 10em
}
table, th, td {
	width: 100%;
    border: 1px solid black
}
