<article class="li {{ .Type }}">
    <header class="post-header">
        <h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    </header>
    
    <section class="post-excerpt">
        <p>
		{{ with .Description }}
			<center>{{ . }}</center>
		{{ else }}
			{{ .Content }}
		{{ end }}
        </p>
    </section>

    <footer class="post-footer">
        <span>
            {{ if .Site.Params.disqusShortname }}
            <a href="{{ .Permalink }}#comments"><i class="fa fa-comment"></i> Comments</a>
            {{ end }}
            {{ with.Params.tags }}
            	&nbsp;&nbsp;<i class="fa fa-tag"></i>
            	{{ delimit  . ", " }}
            {{ end }}
        </span>
    </footer>
    <hr>
</article>
