    <footer id="site-footer">
        <div class="container">
          {{ with .Site.Params.instagram }}
            <a href="https://www.instagram.com/{{ . }}/" title="Instagram" target="_blank"><span class="tooltip"><i class="fa fa-instagram"></i></span></a>
          {{ end }}
          {{ with .Site.Params.twitter_name }}
            <a href="https://www.twitter.com/{{ . }}" title="Twitter" target="_blank"><span class="tooltip"><i class="fa fa-twitter"></i></span></a>
          {{ end }}
          {{ with .Site.Params.facebook }}
            <a href="https://www.facebook.com/{{ . }}" title="Facebook" target="_blank"><span class="tooltip"><i class="fa fa-facebook"></i></span></a>
          {{ end }}
          {{ with .Site.Params.github }}
            <a href="https://www.github.com/{{ . }}" title="GitHub" target="_blank"><span class="tooltip"><i class="fa fa-github"></i></span></a>
          {{ end }}
          {{ with .Site.Params.discourse }}
            <a href="{{ . }}" title="discourse" target="_blank"><span class="tooltip"><i class="fab fa-discourse"></i></span></a>
          {{ end }}
          {{ with .Site.Params.gitlab }}
            <a href="{{ . }}" title="GitLab" target="_blank"><span class="tooltip"><i class="fab fa-gitlab"></i></span></a>
          {{ end }}
          {{ with .Site.Params.matrix  }}
            <a href="{{ . }}" title="Matrix" target="_blank"><span class="tooltip"><small><code>[matrix]</code></small></span></a>
          {{ end }}
          {{ with .Site.Params.email  }}
            <a href="mailto://{{ . }}" title="email"><i class="fas fa-envelope"></i></a>
          {{ end }}
          {{ with .Site.Params.mastodon }}
            <a href="{{ . }}" title="Mastodon" target="_blank"><span class="tooltip"><i class="fab fa-mastodon"></i></span></a>
          {{ end }}
          <a href="{{ .Site.BaseURL }}index.xml" title="Get the RSS feed"><span class="tooltip"><i class="fa fa-rss"></i></a>
          <section><a href="https://lab.allmende.io/solidbase/website/blob/master/LICENSE"><i class="fab fa-creative-commons"></i></a> <a href="https://solidbase.info/about/">SolidBase</a> 2020</section>
          <section>Generated with <a href="http://gohugo.io/">Hugo</a>. Theme: <a href="https://lab.allmende.io/solidbase/website-theme">detox</a>.</section>
          <section><a href="legal/imprint/">Imprint</a></section>
        </div>
    </footer>

    <script type="text/javascript" src="{{ .Site.BaseURL }}js/fittext.js"></script>
    <script type="text/javascript">
      $(".heading").fitText();
    </script>
