<head>
    {{ partial "meta.html" . }}
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/main.css"/>
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/cookie_banner.css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300|Montserrat:700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {{ with .Site.Params.matomo }}
    <script src="/js/matomo.js"></script>
    {{ end }}

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
</head>
