    <header id="site-header">
        <div class="container">
            <a href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}"><h1 class="blog-title heading">{{ .Site.Title }}</h1></a>
            <p class="blog-description">{{ .Site.Params.description }}</p>
            <h4>Find the solidbase app on:</h4>
            <h3><i class="fas fa-arrow-right"></i><a href="https://app.solidbase.info">&nbsp;app.solidbase.info</a></h3>
        </div>
    </header>
